<% include ../views/partials/header %>

    <div class="container">


        <h2>Sobre</h2>

            <p>O burgeReview tem como objetivo agregar diversas experiências que as pessoas tiveram comendo um bom hamburguer!</p>

            <p>A nossa missão é desmistificar o universo gigantesco das hamburguerias no Brasil e mundo afora, através da contribuição
              dos nossos usuários.</p>

              <p>Através disso, buscamos ajudar as pessoas a encontrarem as melhores experiências possíveis em hamburguerias!</p>

            </div>
