<% include ../views/partials/header %>

  <div class="container ">
    <div class="form-group">
        <form action=" " method="post">
          <label>Nome:</label>
          <input class="form-control" type="text" placeholder="Nome" name="" value="" >
        </div>
          <div class="form-group">
                <label>Sobrenome:</label>
                <input class="form-control" type="text" placeholder="Sobrenome" name="" value="">
    </div>
          <div class="form-group">
                <label>Sobrenome:</label>
                <input class="form-control" type="email" placeholder="Email" name="" value="">
    </div>
          <div class="form-group">
                <label>Como conheceu o site?</label>
                <select>
                <option value="">Selecione</option>
                <option value="Internet">Internet</option>
                <option value="Revista">Revista</option>
                <option value="Amigos">Amigos</option>
                <option value="Jornal">Jornal</option>
                <option value="Outro">Outro</option>
            </select>
    </div>
    <div class="form-group">
      <label>Assunto</label>
      <textarea name="name" rows="8" cols="80" placeholder="Escreva aqui"></textarea>
    </div>

</div>
