<% include ../views/partials/header %>

<body class="home">

  <div class="container-fluid">
    <div id="content">
        <h2>burgeReview</h2>
        <h3>The best burger website for you!</h3>
        <hr>
    </div>
  </div>
